<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="<%= basePath %>/src/styles/main.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="icon" href="<%= basePath %>/assets/favicon/favicon.svg">
    <link rel="icon" href="<%= basePath %>/assets/favicon/favicon.png">

    <!-- <script src="<%= basePath %>/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script> -->
    <script type="module" src="<%= basePath %>/dist/pages/home/index.js"></script>
  </head>
  <body>
    <<%= pageName %>></<%= pageName %>>
  </body>
</html>
